@use '../global/' as global;


.about {

}

.about__inner {

}

.about__title {

}

.about__body {
  margin-top: 20px;
}

.about__message {
  margin-top: 20px;
}

.about__txt {
  text-align: center;

  & + & {
    margin-top: 18px;
  }
}

.about__btn {
  margin-top: 20px;
}