@use '../global/' as global;


.plan {
  padding-top: 28px;
  padding-right: 7px;
  padding-bottom: 28px;
  padding-left: 7px;
  background-color: #2D2D32;

  @include global.mq('pc') {
    padding-top: 45px;
    padding-right: 12px;
    padding-bottom: 40px;
    padding-left: 12px;
  }
}

.plan--strong {
  background-color: global.$color-main;
  padding-top: 50px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);

  @include global.mq('pc') {
    padding-top: 60px;
  }
}

.plan__title {
  color: global.$color-txt-light;
  font-size: 20px;
  font-weight: global.$font-weight-bold;
  text-align: center;

  @include global.mq('pc') {
    font-size: 24px;
  }
}

.plan__price {
  color: global.$color-txt-light;
  text-align: center;
  margin-top: 10px;
}

.plan__strong {
  font-size: 30px;
  font-weight: global.$font-weight-bold;

  @include global.mq('pc') {
    font-size: 36px;
  }
}

.plan__btn {
  margin-top: 16px;
}